<main>
  <div class="container px-5 px-sm-0">
    <div class="row">
      <%= render 'list', user: @user, book: @book %>
        <div class="col-md-8 offset-md-1">
          <h2>Book detail</h2>
          <table class="table">
            <tbody>
              <tr>
                <td><%= link_to user_path(@user.id) do %>
                     <%= image_tag @user.get_profile_image(100,100) %>
                     <br><%= @user.name %>
                    <% end %>
                </td>
                <td><%= link_to book_path(@each_book.id) do %>
                    <%= @each_book.title %>
                    <% end %>
                </td>
                <td><%= @each_book.body %></td>
                <% if @user == current_user %>
                <td><%= link_to 'Edit',edit_book_path %></td>
                <td><%= link_to 'Destroy',book_path ,method: :delete,"data-confirm" => "Are you sure?" %></td>
                <% end %>
              </tr>
            </tbody>
          </table>
        </div>
    </div>
  </div>
</main>
